<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Search Theaters</title>
    </h:head>
    <h:body>
        <font size="+1"><b>Enter ZIP Code to find the nearest theater(s):</b></font><br/>
        <small>(75252, 75080, 75093)</small><p/>
        <h:form>
            <h:inputText value="#{showTheaterBean.zipCode}"
                         maxlength="5"
                         validatorMessage="Please enter 5 digits.">
                <f:validateRegex pattern="[0-9]{5}"/>                
            </h:inputText>
            <h:commandButton value="Search" 
                             action="#{showTheaterBean.goToTheaterListPage()}">
            </h:commandButton>
        </h:form>
    </h:body>
</html>

