<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{showTheaterBean.theater.name} Movies and Showtimes</title>
        <style type="text/css">
            table.movie td {
                padding: 5px;
                text-align: left;
                font-family: Arial, sans-serif;
                border: 1px solid #000; 
                background-color: #A4FFFF;    
                color: #BB0000;    
                border-bottom: 2px solid #000;   
            }
        </style>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h:dataTable styleClass="movie"
                             value="#{showTheaterBean.movieList}"
                             var="movie">
                    <h:column>
                        <f:facet name="header">
                            <font size="+1"><h:outputText value="#{showTheaterBean.theater.name}'s Featured Movies"/></font>
                        </f:facet>
                        <img src="#{movie.movieImg}" style="float: left; margin-left: 5px; margin-right: 5px;"/>
                        <b><font size="+1"><h:outputText value="#{movie.title}"/></font></b><br/>
                        <small><i><h:outputText value="#{movie.rating}"/>,&nbsp;<h:outputText value="#{movie.duration}"/><br/>
                                <h:outputText value="#{movie.type}"/></i></small><p/><br/>
                        <h:outputText value="#{movie.description}"/>
                    </h:column>

                    <h:column>
                        #{showTheaterBean.showMovieTimes(movie.movieId)}
                        <f:facet name="header">
                            <font size="+1"><h:outputText value="Showtimes"/></font>
                        </f:facet>

                        <h:dataTable value="#{showTheaterBean.movieTimesList}"
                                     var="theatermovie">
                            <h:column><font size="+1">
                                    <h:commandLink value="#{theatermovie.time1}"
                                                   action="#{showTheaterBean.purchaseMovieTime(movie.movieId)}">
                                        <f:param name="movieTime"
                                                 value="#{theatermovie.time1}"/>
                                    </h:commandLink>&nbsp;<h:commandLink value="#{theatermovie.time2}"
                                                                         action="#{showTheaterBean.purchaseMovieTime(movie.movieId)}">
                                        <f:param name="movieTime"
                                                 value="#{theatermovie.time2}"/>
                                    </h:commandLink>&nbsp;<h:commandLink value="#{theatermovie.time3}"
                                                                         action="#{showTheaterBean.purchaseMovieTime(movie.movieId)}">
                                        <f:param name="movieTime"
                                                 value="#{theatermovie.time3}"/>
                                    </h:commandLink><p/>
                                    <h:commandLink value="#{theatermovie.time4}"
                                                   action="#{showTheaterBean.purchaseMovieTime(movie.movieId)}">
                                        <f:param name="movieTime"
                                                 value="#{theatermovie.time4}"/>
                                    </h:commandLink>&nbsp;<h:commandLink value="#{theatermovie.time5}"
                                                                         action="#{showTheaterBean.purchaseMovieTime(movie.movieId)}">
                                        <f:param name="movieTime"
                                                 value="#{theatermovie.time5}"/>
                                    </h:commandLink></font>
                            </h:column>
                        </h:dataTable>

                    </h:column> 

                </h:dataTable><p/>     
                <center>
                    <h:commandButton value="Back to Main" 
                                     action="index.xhtml"/>
                </center>
            </h:form>
        </f:view>
    </h:body>
</html>

