<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Payment Confirmation</title>
    </h:head>
    <h:body>
        <h3>Thank you, #{paymentBean.nameOnCard}. We hope you enjoy the show!</h3>
        <h:form>
            <h:commandButton value="Home" action="index.xhtml"/>
        </h:form>
    </h:body>
</html>

