<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Enter Payment Information</title>
    </h:head>
    <h:body>
        The total amount is <b>$#{showTheaterBean.calculateCostOfMovieTickets()}.00</b> for <b>#{showTheaterBean.numberOfTickets} tickets</b>.<p/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="Name on Card:"/>
                <h:inputText value="#{paymentBean.nameOnCard}"/>
                <h:outputLabel value="CC Number:"/>
                <h:inputText value="#{paymentBean.creditCardNumber}" 
                             maxlength="16"
                             validatorMessage="Please enter 16 digits.">
                    <f:validateRegex pattern="[0-9]{16}" />
                </h:inputText>
                <h:outputLabel value="Expiration Date:"/>
                <h:inputText value="#{paymentBean.expirationDate}"/>
            </h:panelGrid><br/>
            
            <h:commandButton value="Buy Tickets" 
                             action="paymentConfirmation.xhtml"/>
        </h:form>
    </h:body>
</html>

