<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Select Number of Tickets</title>
    </h:head>
    <h:body>
        <img src="#{showTheaterBean.movie.movieImg}" style="float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;"/>
        <br/><b><font size="+2">#{showTheaterBean.movie.title}</font></b><br/>
        <small><i>#{showTheaterBean.movie.rating},&nbsp;#{showTheaterBean.movie.duration}</i></small><p/><br/>
        
        You have selected the <b>#{showTheaterBean.movieTime}</b> showing.<p/><br/>     

        <b><font size="-1">#{showTheaterBean.theater.name}<br/>
        #{showTheaterBean.theater.street}<br/>
        #{showTheaterBean.theater.city}, #{showTheaterBean.theater.state} #{showTheaterBean.theater.zip}</font></b><p/><br/>
        
        <h:form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General Admission&nbsp;&nbsp;&nbsp;
            <h:selectOneMenu value ="#{showTheaterBean.numberOfTickets}">
                <f:selectItem itemValue ="1" itemLabel ="1"/>
                <f:selectItem itemValue ="2" itemLabel ="2"/>
                <f:selectItem itemValue ="3" itemLabel ="3"/>
                <f:selectItem itemValue ="4" itemLabel ="4"/>
                <f:selectItem itemValue ="5" itemLabel ="5"/>
                <f:selectItem itemValue ="6" itemLabel ="6"/>
                <f:selectItem itemValue ="7" itemLabel ="7"/>
                <f:selectItem itemValue ="8" itemLabel ="8"/>
                <f:selectItem itemValue ="9" itemLabel ="9"/>
                <f:selectItem itemValue ="10" itemLabel ="10"/>
                <f:selectItem itemValue ="11" itemLabel ="11"/>
                <f:selectItem itemValue ="12" itemLabel ="12"/>
                <f:selectItem itemValue ="13" itemLabel ="13"/>
                <f:selectItem itemValue ="14" itemLabel ="14"/>
                <f:selectItem itemValue ="15" itemLabel ="15"/>
                <f:selectItem itemValue ="16" itemLabel ="16"/>
                <f:selectItem itemValue ="17" itemLabel ="17"/>
                <f:selectItem itemValue ="18" itemLabel ="18"/>
                <f:selectItem itemValue ="19" itemLabel ="19"/>
                <f:selectItem itemValue ="20" itemLabel ="20"/>
                <f:selectItem itemValue ="21" itemLabel ="21"/>
                <f:selectItem itemValue ="22" itemLabel ="22"/>
                <f:selectItem itemValue ="23" itemLabel ="23"/>
                <f:selectItem itemValue ="24" itemLabel ="24"/>
                <f:selectItem itemValue ="25" itemLabel ="25"/>
                <f:selectItem itemValue ="26" itemLabel ="26"/>
                <f:selectItem itemValue ="27" itemLabel ="27"/>
                <f:selectItem itemValue ="28" itemLabel ="28"/>
                <f:selectItem itemValue ="29" itemLabel ="29"/>
                <f:selectItem itemValue ="30" itemLabel ="30"/>
            </h:selectOneMenu>&nbsp;&nbsp;&nbsp;x&nbsp;&nbsp;&nbsp;10.00<p/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h:commandButton value ="Submit" 
                             action ="purchaseTickets.xhtml"/>
        </h:form>
    </h:body>
</html>
