<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Theaters by ZIP Code</title>
        <style type="text/css">
            table.theater td {
                padding: 5px;
                text-align: left;
                font-family: Arial, Verdana, sans-serif;
                border: 1px solid #000; 
                background-color: #A4FFFF;    
                color: #BB0000;    
                border-bottom: 2px solid #000;
            }
        </style>
    </h:head>
    <h:body>
        <center>
            <f:view>
                <h:form>
                    <h:dataTable styleClass="theater"
                                 value="#{showTheaterBean.theaterList}"
                                 var="theater">

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Name"/>
                            </f:facet>
                            <h:outputText value="#{theater.name}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Address"/>
                            </f:facet>
                            <h:outputText value="#{theater.street}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="City"/>
                            </f:facet>
                            <h:outputText value="#{theater.city}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="State"/>
                            </f:facet>
                            <h:outputText value="#{theater.state}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Zip"/>
                            </f:facet>
                            <h:outputText value="#{theater.zip}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Select"/>
                            </f:facet>
                            <h:commandLink value="Movies and Showtimes"
                                           action="#{showTheaterBean.showMovies()}">
                                <f:param name="theaterId"
                                         value="#{theater.theaterId}"/>
                            </h:commandLink>
                        </h:column>

                    </h:dataTable><p/>
                    <h:commandButton value="Back to Search"
                                     action="index.xhtml"/>
                </h:form>
            </f:view>
        </center>
    </h:body>
</html>

